/* Styles per Sprint 3 (Angular) Alumne: Toni Machado */
/* Variables colors */

:root {
    /*Cartcolor*/
    --richBlack: #07090F;
    --deepTaupe: #7C616C;
    --pinkLavender: #D1B1CB;
    --languidLavender: #edd4e5;
    --platinum: #E5E9EC;
    --azure: #EAFDF8;
    --titleShop: #d50e96;
    --subtitleShop: rgb(220, 86, 108);
}
body {
    background-image: url(../images/wave-haikei.svg);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.08em;
}

#navbar-example2 {
   background-color: var(--richBlack);

}

#navbar-example2 a{
    color: #fff;

}
#count_product {
    background-color: var(--titleShop);
}
header h1,
.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    color: var(--titleShop);
    letter-spacing: 0;
    
}
.card-img-top {
    height: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}
.card {
    border-radius: 15px;
    border: none;
}
.lead {
    color: var(--subtitleShop);
}
h2 {
    font-family: 'Kaushan Script', cursive;
    color: var(--titleShop);
    font-size: 3em; 
}
.navbar-toggler {
    filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(344deg) brightness(99%) contrast(104%);
}
.formulario {
    border-radius: 15px;
    border: none; 
}
.check {
    background-color: var(--languidLavender);
    color: rgb(77, 77, 77);
    border-radius: 10px;
}
@media(max-width:991px) {
.navbar {
    opacity: 95%;
}
}